 {% import "/templates/components/ui/_macro-icon.twig" as icons %}
 
<div class="relative mx-auto max-w-7xl">
    <div class="my-8 flex items-center gap-4 before:h-px before:flex-1 before:bg-dodger-blue-800/50  before:content-[''] after:h-px after:flex-1 after:bg-dodger-blue-800/50  after:content-['']">
        {{ icons.icon('brand-glyph', 'size-8') }}
    </div>
</div>