
{% import "/templates/components/ui/_macro-icon.twig" as icons %}
{% if item.slug is same as 'palooza' %}

    <div class="flex items-center space-x-4 group">
        <svg class="inline-block transition-transform duration-150 ease-linear bi bi-asterisk size-2 text-dodger-blue-500 group-hover:text-white group-hover:scale-125" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true"><path d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z"/></svg>
        <span class="block">{{ item.title }}</span>
        <svg class="inline-block transition-transform duration-150 ease-linear bi bi-asterisk size-2 text-dodger-blue-500 group-hover:text-white group-hover:scale-125" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true"><path d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z"/></svg>
    </div>

{% else %}
    
    <span class="block">{{ item.title }}</span>
    {% if item.children %}
        <svg
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
            class="inline-block transition duration-200 ease-out opacity-50 hi-solid hi-chevron-down size-4 group-hover:rotate-180"
        >
            <path
            fill-rule="evenodd"
            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
            clip-rule="evenodd"
            ></path>
        </svg>
    {% endif %}
{% endif %}