
<template x-if="headings.length">
<nav class="article-content__nav toc">
    <h6 class="mb-4 text-xs font-semibold tracking-wide uppercase text-black-rock-200">
        On this Page
    </h6>
    <ul class="space-y-3 list-disc page-nav lg:pl-4">
        <template x-for="heading in headings" :key="heading.textContent">
            <li class="text-sm font-medium text-dodger-blue-100 xl:text-base page-nav__item">
                <a 
                    :href="'#' + heading.id"
                    :class="visibleHeadingId == heading.id && 'font-bold text-dodger-blue-200' "
                    class="transition-colors duration-200 ease-in-out text-dodger-blue-700 page-nav__link line-clamp-2 hover:text-dodger-blue-600"
                    x-text="heading.textContent"></a>
            </li>
            {{ video }}
        </template>
    </ul>
</nav>
</template>
