{% embed "/templates/components/containers/sections/_component-section-full.twig" with {
    id: 'section-content-' ~ loop.index,
    class: 'feature-with-icons',
    maxWidth: 'max-w-screen-xl' 
} %}
    {% block section_content %}
        <dl class="grid grid-cols-1 gap-16 lg:grid lg:grid-cols-3">
            {% for item in features %}
            <div class="inview-item">
                <dt>
                    <div class="flex items-center justify-center size-10 text-dodger-blue-600 rounded-xl">
                        {{ item.icon }}
                    </div>
                    <p class="mt-6 font-semibold leading-8 tracking-tight text-gray-100 fluid-text-lg">{{ item.title }}</p>
                </dt>
                <dd class="mt-8 text-base leading-7 text-gray-300">
                {{ item.entry }}
                </dd>
            </div>
            {% endfor %}
        </dl>
    {% endblock %}
{% endembed %}