{% set team = content.team_section[0] %}
{% set members = get_posts(team.team_members) %}

{% embed "/templates/components/containers/sections/_embed-section-full.twig" with {
    id: 'section-content-' ~ loop.index,
    class: 'feature-card-with-image',
    maxWidth: 'max-w-screen-2xl' 
} %}
    {% block section_content %}
        {% import "/templates/components/ui/_macro-heading.twig" as headings %}
        {% import "/templates/components/ui/_macro-button.twig" as buttons %}
        {% import "/templates/components/ui/_macro-icon.twig" as icons %}
        {% import "/templates/components/ui/_macro-image-object.twig" as images %}
        {% import "/templates/components/ui/_macro-badge.twig" as badges %}

        <div class="px-6 mx-auto max-w-screen-2xl lg:px-8 team-section">
            <div class="max-w-2xl mx-auto lg:mx-0 team-section__content">
                {{ headings.headingTwo({
                    title: team.title,
                    size: 'fluid-text-3xl',
                })}}

                <div class="mt-6 prose prose-p:fluid-text-sm prose-invert team-section__entry">
                    {{ team.entry }}
                </div>
                
            </div>
            <ul role="list" class="grid max-w-2xl grid-cols-1 mx-auto mt-20 gap-x-8 gap-y-16 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3 inview-container team-section__members">
                {% for member in members %}
                    
                    {% set title = member.title %}
                    {% set position = member.meta('position') %}
                    {% set profile = member.meta('profile_image') %}
                    {% set social = member.meta('linked_in') %}
                    {% set bio = member.meta('bio') %}

                    <li 
                        x-data="{ modalIsOpen: false }"
                        id="{{ loop.index}}-member" class="inview-item team-section__member">
                        {% include "/templates/components/cards/_component-card-team-member.twig" %}

                    </li>
                {% endfor %}
            </ul>
        </div>
        
    {% endblock %}
{% endembed %}