{% extends "layouts/base.twig" %}

{% set hero =  post.meta('page_hero')[0] %}
{% set heroTitle = hero.title %}
{% set heroSubTitle = hero.sub_title %}
{% set heroEntry = hero.entry %}
{% set heroCTAs  = hero.call_to_actions[0] %}
{% set heroImage = hero.image %}

{% set heroSimple =  post.meta('page_hero_simple')[0] %}
{% set heroSimpleAccent = heroSimple.accent %}
{% set heroSimpleTitle = heroSimple.title %}
{% set heroSimpleEntry = heroSimple.entry %}

{% set pageContent = post.meta('page_content') %}
{% set callToAction = post.meta('call_to_action')[0] %}

{% block content %}

    {% embed "/templates/components/containers/pages/_embed-page-title.twig" %}
        {% block page_content %}
            <div class="relative page-content__entry">  
                {% include "partials/content/_partial-content.twig" %}
            </div>
            {% endblock %}
    {% endembed %}   

    {% include "partials/_partial-call-to-action.twig" with {
        title: callToAction.title ? callToAction.title : options.general_call_to_action.title ,
        entry: callToAction.entry ? callToAction.entry : options.general_call_to_action.entry,
        link: callToAction.link ? callToAction.link : options.general_call_to_action.link,
    } %}
    
{% endblock %}     
