{% extends "layouts/base.twig" %}
{% import "components/ui/_macro-heading.twig" as headings %}
{% import "components/ui/_macro-image-object.twig" as images %}
{% import "components/ui/_macro-icon.twig" as icons %}
{% import "components/ui/_macro-badge.twig" as badges %}
{% import "components/ui/_macro-button.twig" as btn %}


{% set hero =  post.meta('page_hero')[0] %}
{% set heroTitle = hero.title %}
{% set heroSubTitle = hero.sub_title %}
{% set heroEntry = hero.entry %}
{% set heroCTAs  = hero.call_to_actions %}
{% set heroImage = hero.image %}
{% set heroAccent = hero.accent %}

{% set pageType = post.meta('page_type') %}
{% set pageContentBasic = post.meta('page_content_basic') %}
{% set pageContentBuilder = post.meta('page_content') %}
{% set callToAction = post.meta('call_to_action')[0] %}
{% set ctaForm = callToAction.form %}


{% block content %}

    <script>console.log({{ ctaForm | json_encode | raw }})</script>

    {% embed "/templates/components/containers/singles/_embed-single-solution-title.twig" %}
        {% block solution_content %}
            {# divider #}
            <div class="max-w-screen-xl mx-auto text-dodger-blue-800/50 section-divider page-content__item">
                {% include "/templates/components/dividers/_component-divider-icon.twig" %}
            </div>
            
            {% include "/templates/partials/content/_partial-content.twig" %}
        {% endblock %}
    {% endembed %}

    {% include "partials/_partial-call-to-action.twig" with {
        title: callToAction.title,
        entry: callToAction.entry,
        link: callToAction.link,
        formTitle: ctaForm.form_title,
        portal: ctaForm.hubspot_id,
        form: ctaForm.form_id,
    } %}
{% endblock %}
