<menu class="relative pt-2 pb-4 space-y-4">
    {% for item in item.children %}
        <li class="{{ item.classes.join('') }} flex items-center text-sm space-x-2 group/item min-w-20">
            <div class="w-0 h-[2px] bg-dodger-blue-500 transition-all duration-200 ease-in-out group-hover/item:w-2"></div>
            <a href="{{ item.link }}" class="block text-white menu-link">{{ item.title }}</a>
        </li>
    {% endfor %}
</menu>