
{% set single = fn('is_single') %}

<div class="prose prose-invert prose-a:text-dodger-blue-500 max-w-none prose-a:decoration-gray-500 prose-a:decoration-dashed prose-a:underline-offset-4 prose-ul:list-image-[url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxNCAxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBmaWxsPSIjMzhiZGY4Ij48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMy42ODUuMTUzYS43NTIuNzUyIDAgMCAxIC4xNDMgMS4wNTJsLTggMTAuNWEuNzUuNzUgMCAwIDEtMS4xMjcuMDc1bC00LjUtNC41YS43NS43NSAwIDAgMSAxLjA2LTEuMDZsMy44OTQgMy44OTMgNy40OC05LjgxN2EuNzUuNzUgMCAwIDEgMS4wNS0uMTQzWiIgLz48L3N2Zz4=')] {{ front ? 'prose-sm lg:prose-xl' : single ? 'prose-sm md:prose-base lg:prose-xl' : 'prose-sm lg:prose-lg' }}">
    {% block prose_content %}
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates voluptate culpa nihil totam quia, ut modi quae, ipsum ipsam saepe laborum alias, quidem perferendis nam aperiam molestias atque explicabo beatae!</p>
    {% endblock %}
</div>